# .NET Build Artifacts
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/
_ReSharper*/
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.opendb

# Publish output
/publish/

# Log files
*.log
UpdateSkriptApp/Logs/

logs.txt
*.iso
*.zip
